.container {
  padding: 20px 200px;


}

.item {
  display: flex;
  margin: 20px 0;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05)
  }
}

.content {

  div {
    margin: 10px 0;
  }
}